/********** Template CSS **********/
:root {
    --primary: #0e004e;
    --secondary: #5F656F;
    --light: #02245B;
    --dark: #02245B;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
h6,
.h5,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: #FFFFFF;
}



.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


.topbar-right {
    position: relative;
    background: var(--primary);
}

.topbar-right::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 100%;
    top: 0;
    left: -15px;
    transform: skewX(-30deg);
    background-color: var(--primary);
}

/** nuevo navbar **/




.redes-sociales{
    position: relative;
    margin-left: 11px;
}


@media(min-width:1530px){

    .redes-sociales{
        position: relative;
        margin-left: 22px;
    }
    

}




              
      


.header{
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
    z-index: 99;
    

    
    
    
}


.header nav{
    position: relative;
    left: 200px;
    top: 7px;
}


@media(min-width:1379px){
  
    .header nav{
        position: relative;
        left: -120px;
        top: 7px;
    }

}


@media(max-width:1278px){
  
    .header nav{
        position: relative;
        left: -80px;
        top: 7px;
    }

}

.header .logo img{
position: relative;    
height: 30px;
width: auto;
transition: all 0.3s;
left: 50px;

}


.nav-links li a{
    color: white !important;
    font-size: 18px;
    
    
    
}


.nav-links li a:hover{
    color: rgb(5, 136, 129) !important;
}



.header .logo{
    cursor: pointer;
}


.header .logo img:hover{

transform: scale(1.2);
}


.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    
}

.header.nav-links a{
    font-size: 700;
    color: #B0B9AE !important;
    

}

.header .nav-links li:hover{    
    transform: scale(1.1);

}


.header .nav-links li a:hover{
    color: #5F656F;
}

.header a{
    text-decoration: none;
}


.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 160;
    left: 0;
    top: 0;
    background-color: #000032;
    opacity: 0.98;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}


/**inicio boton de hamburguesa **/


.haburguesados{
    position: relative;
    top: 200px;
    color: #14f7ff;
    
}




/**fin boton de hamburguesa**/




@media screen and (max-width: 900px){

    .nav-links, .btn{
        display: none;
    }

    .menu{
        display: inherit;
    }

}


.header .overlay .overlay-content{

    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #dddddd;
}

.header .overlay a:hover,
.header .overlay a:focus{
    color: rgb(4, 139, 192);
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}


@media screen and (max-height:450px){

    .header .overlay a{
        font-size: 20px;
    }

    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

/** fin nuevo navbar **/







/*** Navbar 
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand {
    position: relative;
    padding-right: 50px;
    height: 75px;
    display: flex;
    align-items: center;
    background: var(--primary);
}

.navbar .navbar-brand::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 100%;
    top: 0;
    right: -25px;
    transform: skewX(-30deg);
    background-color: var(--primary);
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 20px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(2, 36, 91, 1) 0%, rgba(2, 36, 91, 0) 100%);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary);
    border: 15px solid var(--primary);
    border-radius: 3.5rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(to right, rgba(2, 36, 91, 1) 0%, rgba(2, 36, 91, 0) 100%), url(../img/carousel-2.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


/*** Facts ***/
.facts {
    position: relative;
    margin: 6rem 0;
    background: var(--dark);
}

.facts .border {
    border-color: rgba(255, 255, 255, .1) !important;
}


/*** Features ***/
.btn-play {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: var(--primary);
}

@media (max-width: 992px) {
    .btn-play {
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
    }
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: var(--primary);
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: var(--primary);
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -1px;
    border-left: 16px solid #FFFFFF;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Service ***/
.service-item {
    position: relative;
    margin: 65px 0 25px 0;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item .service-img {
    position: absolute;
    padding: 12px;
    width: 130px;
    height: 130px;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .09);
    z-index: 2;
}

.service-item .service-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.service-item .service-title {
    position: absolute;
    padding: 65px 30px 25px 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    transition: .5s;
}

.service-item:hover .service-title {
    top: -100%;
}

.service-item .service-text {
    position: absolute;
    overflow: hidden;
    padding: 65px 30px 25px 30px;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(2, 36, 91, .7);
    transition: .5s;
}

.service-item:hover .service-text {
    top: 0;
}

.service-item .service-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100px;
    top: -100%;
    left: 0;
    transform: skewY(-12deg);
    background: #FFFFFF;
    transition: .5s;
}

.service-item:hover .service-text::before {
    top: -55px;
}

.service-item .btn {
    position: absolute;
    width: 130px;
    height: 50px;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    background: #FFFFFF;
    border: none;
    box-shadow: 0 0 45px rgba(0, 0, 0, .09);
    z-index: 2;
}

.service-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
    
    
}



.flipUp-360{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.flipUp-360:hover{
    transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
}






/** fin de seccion servicios **/


/*** Project ***/
.project-carousel {
    position: relative;
    background: var(--dark);
}

.project-item {
    position: relative;
    display: block;
}

.project-item img {
    transition: .5s;
}

.project-item:hover img,
.project-carousel .owl-item.center img {
    margin-top: -60px;
}

.project-item .project-title {
    position: absolute;
    padding: 0 15px;
    width: 100%;
    height: 80px;
    bottom: -110px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--dark);
    transition: .5s;
}

.project-item:hover .project-title,
.project-carousel .owl-item.center .project-title  {
    bottom: -60px;
}

.project-item .project-title::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    top: -15px;
    left: 0;
    transform: skewY(-5deg);
    background: var(--dark);
    transition: .5s;
}

.project-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    transition: .5s;
    opacity: 0;
    z-index: 1;
}

.project-carousel:hover .owl-nav {
    opacity: 1;
}

.project-carousel .owl-nav .owl-prev,
.project-carousel .owl-nav .owl-next {
    margin: 0 30px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}


/*** Team ***/
.team-item .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    display: flex;
    align-items: center;
    background: var(--primary);
    transition: .5s;
}

.team-item:hover .team-social {
    left: 0;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.testimonial-carousel .testimonial-img img {
    width: 100px;
    height: 100px;

    
}

.testimonial-carousel .testimonial-img .btn-square {
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-carousel .owl-item .testimonial-text {
    margin-bottom: 30px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    transform: scale(1);
}


/*** Footer ***/
.footer {
    color: #B0B9AE;
}

.iconosfooter{
    color: #008fa9;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #B0B9AE;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: #B0B9AE;
    border-top: 1px solid rgba(255, 255, 255, .1);
}



/**--------------------------------------------------------------------------------------------------------------------------------------- **/

/** boton del Slider pagina principal **/

.botonslider{

    background-color: #02245B;
    border: none;
    border-radius: 10px;


}


.botonslider2{


background-color: #02245B;
    border: none;
    border-radius: 10px;




}


.textoslider{

color: #02245B;

}



.quote{

    background-color: #02245B;
    border: none;
    border-radius: 10px;
}


.experiencia{
    color: white;
}


.recuadro{
    justify-content: center;
    display: flex;
    background-color: #02245B;
    width: 150px;
    height: 300px;
    padding: 0%;
    align-items: center;
    margin: 0px auto;

}



.cuadradosolucion{

background-color: #02245B;



}


.cctv{

background-image: url(../img/controldeacceso.jpg);

}




/**  -------------------------------------------------sistema de vuelo no tripulado------------------------------------------------------------------------- **/


.droneeeee{
    z-index: 99;
}


#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
   
    
}


.tituloTres{
    font-size: 55px;
}


@media(min-width:1616px){

.sistemaDeVueloNoTripuladoExploreMore{
    display: none;
}

}

.parrafosistema{

    margin-left: 20px;
    margin-right: 20px;
}


@media(max-width:1200px){

    .breveHistoria{

        display: none;
    }
 

}


@media(max-width:1200px){

    .breveHistoria{

        position: relative;
        display: none;
        margin-top: -70px;
    }
 

}

@media(min-width:450px){
    .PrimerVueloExitosoresponsivo{

        display: none;

    
    }
     


    
    
}


@media(max-width:500px){

.primerVueloExitosocolor{

    background-color: #00a1a9;
    color: white !important;
    border-radius: 10px;
    padding: 20px;
}

}

@media(max-width:1467px){
.breveHistoria{
    margin-top: -240px;
}
}

@media(max-width:1252px){
    .breveHistoria{
        margin-top: -300px;
    }
    }



@media(min-width:1600px){

    .breveHistoria{

        
        margin-top: 50px;
    }
 

}


@media(min-width:1800px){

    .breveHistoria{

        
        margin-top: 240px;
    }
 

}


@media(min-width:1800px){

    .breveHistoria{

        
        margin-top: 250px;
    }
 

}

@media(min-width:2160px){

    .breveHistoria{

        
        margin-top: 550px;
    }
 

}






.primerVueloExitoso{
    color: #dddddd;
}

@media(max-width:1200px){

.primerVueloExitoso{
    display: none;
}

}


.enRocktech{
    position: relative;
    margin-top: 30px;
}


.enRocktech{
    color: white;
    
}

@media(max-width:700px){

    .enRocktech{
        display:none;
        
    }
}


@media(min-width:1700px){

    .enRocktech{
        position: relative;
        top: 200px;
        
    }
}

@media(max-width:500px){

    .enRocktech{
        position: relative;
        top: 200px;
        
    }
}



@media(max-width:500px){

    .quepreviene{
        position: relative;
        top: -50px;
        
    }
}



@media(min-width:1700px){

    .quepreviene{
        position: relative;
        top: 200px;
        
    }
}


@media(max-width:1300px){

    .enRocktech{
        color: white;
        
    }
}


@media(max-width:800px){
    .parrafocuatro{
        display: none;
        margin-right: 20px;
    }
}


@media(max-width:600px){
    .tituloTres{
        text-align: center;
        margin-right: 100px;
        font-size: 40px;
       
    }

}

@media(max-width:300px){
    .tituloTres{
        text-align: center;
        margin-right: 100px;
        top: 411px;
       
    }

}



@media(max-width:500px){

    .imagendronnoche{
        width: 100%;
    }

}



.textoPrincipalVueloNoTripulado{

color: white;
position: absolute;
top: 600px;
margin-left: 60px;
}


.vueeelo{
    color: black;
    top: 300px;
    font-size: 60px;
}


.sistemaDeVueloNoTripulado{
   
    display: flex;   
    animation-name:sistemaDeVuelo;
    animation-duration: 10s;
    animation-iteration-count: infinite;



}


@media(min-width:1780px){

    .sistemaDeVueloNoTripulado{
        position: relative;
        right: 200px;
        top: -200px;
    }
}

.sistemaDeVueloNoTripuladoExploreMore{
   
    position: relative;
    top: 400px;
    left: 150px;
   

}


@media(min-width:500px){

    .sistemaDeVueloNoTripuladoExploreMore{

        display: none;

        
    }

}

@keyframes sistemaDeVuelo{

    0%{
        color: #ffffff;
    }
    30%{
        color: #ffffff;
    }
    50%{
        color: #001542;
    
    }

    100%{
        color: #ffffff;
    }
}


.hola{
    display: flex; 
   
    position: absolute; 
     
   
}


.parrafoQuePreviene{
    position: relative;
    display: flex;
    top: 200px;
    
    

}

@media (max-width: 876px){

    .parrafoQuePreviene{
        position: relative;
        display: flex;
        top: 300px;
        

}
}






@media (max-width: 876px){

       .sistemaDeVueloNoTripulado{
        
        
        text-align: center;
        
    
    
    
    }
    
}

@media (max-width: 876px){

    
    .sistemaDeVueloNoTripuladoExploreMore{
      
        display: flex;
        position:absolute;
        top: 320px;
        margin: 0px auto;
    


    
    }
}

@media (max-width: 1376px){
    
    .parrafoQuePreviene{
      
        display: flex;
        position:absolute;
        top: 120px;
        margin: 0px auto;
        
    }
}








/** -----------------------------layaout  Inicio control de acceso --------------------------   **/





.prueba{

    display: flex;
    justify-content: end;
    position: relative;
    justify-content: center;
    
}


.textoControlDeAcceso{
    display: flex;
    position: relative;
    background-color: #02245B;
    border-radius: 10px;
    top: -200px;
    flex-direction: column;
    justify-content: start;
    
    
}


@media(max-width:860px){


    .textoControlDeAcceso{
        display: flex;
        position: relative;
        background-color: #02245B;
        border-radius: 10px;
        top: 80px;
        justify-content: start;
        
        
        
        
        
    }

}









/** -----------------------------layaout  fin control de acceso --------------------------   **/

.incendio:hover{

    background-color: #14f7ff !important;
}















/**  --------------------------------------------------------------about --------------------------------------------------------------------------- **/



.aboutTeamRocktech{
position: relative;
display: flex;
justify-content: center;

    
}


.aboutTeamRocktechParrafo{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;


}


.imagenteamrocktech{

    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
    
    
}






@media (max-width: 876px){


    .aboutTeamRocktechParrafo{
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        
    
    
    }


}





/**  Servicio de mantenimiento inicio  **/



.videoMantenimiento{
    max-width: 100%;

    
}


/**  Servicio de mantenimiento termino  **/








/** inicio Acerca de**/


.colorcheck{
    color: rgb(9, 0, 59) !important;
}

.year-of-expierience{

    background-color: #008fa9 !important;
}


/** fin Acerca de**/



/* inicio de los hechos */

.mas{
    color: white;
    position: relative;
    font-size: 60px;
    left: -100px;
    top: 50px;
 
    

}

@media(max-width:1283px){

    .mas{

        position: relative;
        left: -90px;
    }
}


@media(max-width:639px){

    .mas{

        position: relative;
        top: 35px;
    }
}


@media(max-width:1353px){

    .mas{

        position: relative;
        left: -90px;
    }
}



/* fin de los hechos     */